name: OrangeHRM Automation CI

# 1. Kích hoạt khi nào? -> Khi có code push vào nhánh main
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# 2. Cấp quyền cho GitHub Action để nó được phép update nội dung (quan trọng để publish report)
permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  test-and-report:
    runs-on: ubuntu-latest # Mượn một máy Ubuntu của GitHub

    steps:
      # Bước A: Tải code từ kho về máy Ubuntu
      - name: Checkout Code
        uses: actions/checkout@vv4

      # Bước B: Cài đặt Python 3.10
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      # Bước C: Cài đặt thư viện (Selenium, Pytest...)
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # Bước D: Chạy Test (Quan trọng nhất)
      # Lưu ý: continue-on-error: true để dù test fail thì vẫn chạy tiếp bước tạo Report
      - name: Run Tests with Pytest
        continue-on-error: true 
        run: |
          pytest --alluredir=allure-results

      # Bước E: Tạo Allure Report & Publish lên GitHub Pages
      # Sử dụng action có sẵn của cộng đồng để build report HTML
      - name: Get Allure history
        uses: actions/checkout@v4
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Generate Allure Report
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: allure-results
          allure_history: allure-history
          keep_reports: 20

      - name: Deploy Report to GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history