name: Run Selenium Tests
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Test with Pytest
      run: pytest --alluredir=allure-results
      # Lưu ý: Chạy trên GitHub cần config driver chạy chế độ Headless (không giao diện)